{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.rawgit.com/jaysalvat/ezdz/master/dist/jquery.ezdz.min.css" />
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.rawgit.com/jaysalvat/ezdz/master/dist/jquery.ezdz.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript">
  window.fbAsyncInit = function() {
    function checkLoginState() {
      FB.getLoginStatus(changeLoginState);
    }

    FB.init({
      appId      : '904320642985464',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.5'
    });

    function changeLoginState(response) {
      if (response.status === 'connected') {
        FB.api('/me/picture?height=10000', function(response) {
          $('input[type="file"]').ezdz('preview', response.data.url);
          $('input[type="hidden"]').attr('value', response.data.url);
        });
        document.getElementById('status').innerHTML = 'Logged in!';
      } else if (response.status === 'not_authorized') {
        document.getElementById('status').innerHTML = 'Logged in to FB, not app.';
      } else {
        document.getElementById('status').innerHTML = 'Not logged into FB.';
      }
    }

    FB.getLoginStatus(changeLoginState);
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  $(document).ready(function() {
    $('input[type="file"]').ezdz();
  })
</script>
{% endblock %}

{% block content %}
<div class="container">
  <h1><span><img src="static/hair.png" id="dank" />Trumpify Yourself</span></h1>

<div class="hero_message">
<h2>Make your <span>profile picture</span> Great Again!</h2>
</div>

  <table border=0 width="100%">
    <tr>
      <td>Drag your selfie here<br />or log into facebook below</td>
      <td></td>
      <td></td>
      <td></td>
      <td>After</td>
    </tr>
    <tr valign=center>
      <td>

        <form class="dropzone" class="col-md-6" action="/upload" id="image-upload" method="POST">

          <input type="file" name="file" />
          <input type="hidden" name="fb_url" />
        </form>
      </td>
      <td class=a>+</td>
      <td><img src="static/hair.png" id="hair" width="150" /></td>
      <td class=a>=</td>
      <td><img id="after" src="http://placehold.it/200x300" alt="Trumpified">
    </tr>
    <tr>
      <td colspan="4"></td>
      <td>Too chicken to change your photo? 🐔<br />Share this url <input type="text" value="me.me" length="9" />
</td>
    </tr>
  </table>
  <div class="row">
    <div class="col-md-6">
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
      <p id="status">Status</p>
    </div>
  </div>
  <hr />
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
</div>
{% endblock %}
