{% extends "base.html" %}

{% block scripts %}
<script>
  window.fbAsyncInit = function() {
    function checkLoginState() {
      FB.getLoginStatus(changeLoginState);
    }

    FB.init({
      appId      : '904320642985464',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.5'
    });

    function changeLoginState(response) {
      if (response.status === 'connected') {
        var url = window.location + '/raw';
        console.log(url);
        FB.api('/me/photos', 'post', {
          url: url,
        }, function(response) {
          console.log(response);
        });
      } else if (response.status === 'not_authorized') {
        console.log("Not logged into FB, but logged into app");
      } else {
        console.log("Not logged into facebook");
      }
    }

    FB.getLoginStatus(changeLoginState);
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}

{% block content %}
<img id="image" src="{{ url_for('view_raw', hash=hash) }}">
<fb:login-button scope="public_profile,email,publish_actions" onlogin="checkLoginState();">Make Profile Picture</fb:login-button>
{% endblock %}

